#status-message {
    width: 17%;
    margin-top: 2.3%;
    font-size: 20px;
    user-select: none;
    position: fixed;
    top: -100px; /* Vị trí ban đầu nằm ngoài màn hình */
    right: 20px; /* Căn chỉnh thông báo từ phải */
    transform: translateX(0); /* Không cần dịch chuyển trục X */
    opacity: 0; /* Ẩn khi chưa hiển thị */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: top 1s ease-in-out, opacity 0.5s ease-in-out; /* Hiệu ứng chuyển động */
    z-index: 9999; /* Đảm bảo thông báo nằm trên cùng */
}

#status-message.show {
    top: 20px; /* Vị trí hiển thị trong màn hình */
    opacity: 1; /* Hiển thị */
}



/*
<div th:if="${message}" id="status-message" class="alert alert-danger" role="alert">
    <i class='bx bxs-error-circle'></i>
    <span th:text="${message}"></span>
</div>

<div th:if="${message}" id="status-message" class="alert alert-success" role="alert">
    <i class='bx bxs-check-circle'  ></i>
    <span th:text="${message}"></span>
</div>
*/